<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="admin2.css">
    <title>Document</title>
</head>

<body>
    <div class="adminheading">
        <img src="admin-logo.png" alt="" srcset="">
        <h1>Hello admin</h1>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
        <button class="btn btn-primary" type="button"><a class="buttontext" href='/display'>Students
                Profile</a></button>
        <button class="btn btn-secondary" type="button"><a class="buttontext" href="/atdnce">Mark Attendance
            </a></button>
        <button class="btn btn-primary" type="button"><a class="buttontext" href='/showattd'>Show
                Attendance</a></button>
        <button class="btn btn-secondary" type="button"><a class="buttontext" href='/certificate'>Generate
                TC</a></button>
        <button class="btn btn-primary" type="button"><a class="buttontext" href='/display2'>Teachers
                Profile</a></button>
        <button class="btn btn-secondary" type="button"><a class="buttontext" href='/logout'>Log Out</a></button>
    </div>


</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

</html>