<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update2/<%= user._id %>" method='POST'>
        <label>enter name</label>
        <label>enter name</label>
        <input name='name' placeholer='aniket rathod' type='text' required>
        <br>
        <label>enter age</label>
        <input name='age' placeholer='aniket rathod' type='text' required>
        <br>
        <label>enter dob</label>
        <input name='dob' placeholer='aniket rathod' type='date' required>
        <br>
        <label>enter qualification</label>
        <input name='qlf' placeholer='aniket rathod' type='text' required>
            <br>
            <button >Update details</button>
            </div>
    
    </form>
</body>
</html>